<div class="card">
    <div class="card-body">
      <h5 class="card-title">Percent</h5>
      <div class="d-flex bd-highlight">
          <div class="p-2 flex-grow-1">
              <div class="progress">
                  <div class="progress-bar" [style.width]="level5" > {{level5}}</div>
              </div>            
          </div>
          <div class="w-25" >ดีมาก</div>
      </div>
  
      <div class="d-flex bd-highlight">
          <div class="p-2 flex-grow-1">
              <div class="progress">
                  <div class="progress-bar" [style.width]="level4" >{{level4}}</div>
              </div>            
          </div>
          <div class="w-25" >ดี</div>
      </div>
  
      <div class="d-flex bd-highlight">
          <div class="p-2 flex-grow-1">
              <div class="progress">
                  <div class="progress-bar" [style.width]="level3" >{{level3}}</div>
              </div>            
          </div>
          <div class="w-25">ปานกลาง</div>
      </div>
  
      <div class="d-flex bd-highlight">
          <div class="p-2 flex-grow-1">
              <div class="progress">
                  <div class="progress-bar" [style.width]="level2" >{{level2}}</div>
              </div>            
          </div>
          <div class="w-25">น้อย</div>
      </div>
  
      <div class="d-flex bd-highlight">
          <div class="p-2 flex-grow-1">
              <div class="progress">
                  <div class="progress-bar" [style.width]="level1" >{{level1}}</div>
              </div>            
          </div>
          <div class="w-25">น้อยมาก</div>
      </div>
  
    </div>
  </div>
  