<div class="d-flex justify-content-center mt-3">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success btn-lg" (click)="vote(5)">ดีมาก</button>
        <button type="button" class="btn btn-success btn-lg" (click)="vote(4)">ดี</button>
        <button type="button" class="btn btn-success btn-lg" (click)="vote(3)">ปานกลาง</button>
        <button type="button" class="btn btn-success btn-lg" (click)="vote(2)">น้อย</button>
        <button type="button" class="btn btn-success btn-lg" (click)="vote(1)">น้อยมาก</button>
      </div>
</div>