<div class="card">
  <div class="card-body">
    <div class="row">
        <div class="col-2 text-center"><h5 class="card-title">Level</h5></div>
        <div class="col-2 text-center">ดีมาก</div>
        <div class="col-2 text-center" >ดี</div>
        <div class="col-2 text-center">ปานกลาง</div>
        <div class="col-2 text-center">น้อย</div>
        <div class="col-2 text-center">น้อยมาก</div>
     </div>
     <div class="row">
        <div class="col-2 text-center"><h5 class="card-title">Score</h5></div>
        <div class="col-2 text-center">{{SCORE[4]}}</div>
        <div class="col-2 text-center" >{{SCORE[3]}}</div>
        <div class="col-2 text-center">{{SCORE[2]}}</div>
        <div class="col-2 text-center">{{SCORE[1]}}</div>
        <div class="col-2 text-center">{{SCORE[0]}}</div>
     </div>

  </div>
</div>
